<div class="container">
  <h1>Lineもどきのアプリ</h1>
  <form class="form-inline">
    <div class="form-group">
      <textarea class="form-control" id="chat-input" placeholder="メッセージを入力してください！" required></textarea></br>
    </div>
  </form>
      <button id="button" class="btn btn-primary">投稿</button>
  <div id="messages">
      <%= render @messages %>          
  </div>
</div>
